In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
.appName("Sales Data")\
.getOrCreate()

spark

In [26]:
from google.colab import drive
drive.mount('/content/drive')

df = spark.read.csv('/content/drive/MyDrive/Sales_Dataset__500_Records_.csv',header= True,inferSchema=True)
df.show(5)
df.tail(5)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

[Row(OrderID=2930, CustomerName='Jaime Harris', ProductCategory='Fashion', Amount=680.0, OrderDate=datetime.date(2025, 2, 16), DeliveryStatus='Returned', Discount=0.2, City='Robertville', PaymentMode='Cash', CustomerSince=datetime.date(2021, 1, 28)),
 Row(OrderID=7980, CustomerName='Dawn Wyatt', ProductCategory='Fashion', Amount=285.32, OrderDate=datetime.date(2024, 4, 26), DeliveryStatus='Cancelled', Discount=0.06, City='Cherylfurt', PaymentMode='UPI', CustomerSince=datetime.date(2021, 4, 14)),
 Row(OrderID=7770, CustomerName='Kristin White', ProductCategory='Groceries', Amount=792.11, OrderDate=datetime.date(2024, 8, 10), DeliveryStatus='Returned', Discount=0.07, City='Kingport', PaymentMode='UPI', CustomerSince=datetime.date(2022, 11, 16)),
 Row(OrderID=6641, CustomerName='Jennifer Taylor', ProductCategory='Toys', Amount=578.49, OrderDate=datetime.date(2025, 4, 3), DeliveryStatus='Delivered', Discount=0.1, City='Lake Jerryburgh', PaymentMode='Cash', CustomerSince=datetime.date(2020, 11, 4)),
 Row(OrderID=4513, CustomerName='Rachel Owen', ProductCategory='Electronics', Amount=904.97, OrderDate=datetime.date(2024, 9, 21), DeliveryStatus='Delivered', Discount=0.12, City='East Paultown', PaymentMode='Cash', CustomerSince=datetime.date(2020, 10, 21))]

In [13]:
print("Data types:", df.dtypes)

Data types: [('OrderID', 'int'), ('CustomerName', 'string'), ('ProductCategory', 'string'), ('Amount', 'double'), ('OrderDate', 'date'), ('DeliveryStatus', 'string'), ('Discount', 'double'), ('City', 'string'), ('PaymentMode', 'string'), ('CustomerSince', 'date')]

In [10]:
import pandas as pd
df_pandas = pd.read_csv("/content/drive/MyDrive/Sales_Dataset__500_Records_.csv")
print("First 5", df_pandas.head())
print("Last 5:", df_pandas.tail())
print("Data types", df_pandas.dtypes)

First 5    OrderID    CustomerName ProductCategory  Amount   OrderDate DeliveryStatus  \
0     2824   Donald Walker           Books  783.04  2024-12-26       Returned
1     7912    Brandon Hall       Groceries  905.00  2024-09-12      Cancelled
2     4611    Donald Booth         Fashion  657.96  2025-01-12       Returned
3     3547  Phillip Garcia         Fashion  606.89  2024-03-24       Returned
4     8527    Valerie Gray            Toys   77.87  2024-08-04      Delivered

   Discount              City  PaymentMode CustomerSince
0      0.15      Lake Joyside  Credit Card    2020-10-15
1      0.03     New Jamesside       Wallet    2022-03-15
2      0.01      Lake Roberto       Wallet    2021-08-07
3      0.15  West Melanieview       Wallet    2020-08-08
4      0.17         Mariastad         Cash    2022-11-15
Last 5:      OrderID     CustomerName ProductCategory  Amount   OrderDate  \
495     2930     Jaime Harris         Fashion  680.00  2025-02-16
496     7980       Dawn Wyatt         Fashion  285.32  2024-04-26
497     7770    Kristin White       Groceries  792.11  2024-08-10
498     6641  Jennifer Taylor            Toys  578.49  2025-04-03
499     4513      Rachel Owen     Electronics  904.97  2024-09-21

    DeliveryStatus  Discount             City PaymentMode CustomerSince
495       Returned      0.20      Robertville        Cash    2021-01-28
496      Cancelled      0.06       Cherylfurt         UPI    2021-04-14
497       Returned      0.07         Kingport         UPI    2022-11-16
498      Delivered      0.10  Lake Jerryburgh        Cash    2020-11-04
499      Delivered      0.12    East Paultown        Cash    2020-10-21
Data types OrderID              int64
CustomerName        object
ProductCategory     object
Amount             float64
OrderDate           object
DeliveryStatus      object
Discount           float64
City                object
PaymentMode         object
CustomerSince       object
dtype: object

In [14]:
import dask.dataframe as dd
df_dask = dd.read_csv("/content/drive/MyDrive/Sales_Dataset__500_Records_.csv")
print("First 5 rows:\n", df_dask.head())
print("Last 5 rows:\n", df_dask.tail())
print("Data types:\n", df_dask.dtypes)

First 5 rows:
    OrderID    CustomerName ProductCategory  Amount   OrderDate DeliveryStatus  \
0     2824   Donald Walker           Books  783.04  2024-12-26       Returned
1     7912    Brandon Hall       Groceries  905.00  2024-09-12      Cancelled
2     4611    Donald Booth         Fashion  657.96  2025-01-12       Returned
3     3547  Phillip Garcia         Fashion  606.89  2024-03-24       Returned
4     8527    Valerie Gray            Toys   77.87  2024-08-04      Delivered

   Discount              City  PaymentMode CustomerSince
0      0.15      Lake Joyside  Credit Card    2020-10-15
1      0.03     New Jamesside       Wallet    2022-03-15
2      0.01      Lake Roberto       Wallet    2021-08-07
3      0.15  West Melanieview       Wallet    2020-08-08
4      0.17         Mariastad         Cash    2022-11-15
Last 5 rows:
      OrderID     CustomerName ProductCategory  Amount   OrderDate  \
495     2930     Jaime Harris         Fashion  680.00  2025-02-16
496     7980       Dawn Wyatt         Fashion  285.32  2024-04-26
497     7770    Kristin White       Groceries  792.11  2024-08-10
498     6641  Jennifer Taylor            Toys  578.49  2025-04-03
499     4513      Rachel Owen     Electronics  904.97  2024-09-21

    DeliveryStatus  Discount             City PaymentMode CustomerSince
495       Returned      0.20      Robertville        Cash    2021-01-28
496      Cancelled      0.06       Cherylfurt         UPI    2021-04-14
497       Returned      0.07         Kingport         UPI    2022-11-16
498      Delivered      0.10  Lake Jerryburgh        Cash    2020-11-04
499      Delivered      0.12    East Paultown        Cash    2020-10-21
Data types:
 OrderID                      int64
CustomerName       string[pyarrow]
ProductCategory    string[pyarrow]
Amount                     float64
OrderDate          string[pyarrow]
DeliveryStatus     string[pyarrow]
Discount                   float64
City               string[pyarrow]
PaymentMode        string[pyarrow]
CustomerSince      string[pyarrow]
dtype: object

In [27]:
# Selection, Renaming, and Filtering
# Select only OrderID , CustomerName , and Amount .
df_select = df.select("OrderID","CustomerName","Amount")
df_select.show()
# Rename Amount to OrderAmount .
df_rename = df.withColumnRenamed("Amount","OrderAmount")
df_rename.show(5)
# Filter orders where Amount > 500 .
df_amt = df.filter(df["Amount"] > 500)
df_amt.show()
# Filter orders from a specific city using .query() or .filter()
df_city = df.filter(df["City"] == "Lake Joyside")
df_city.show()

+-------+------------------+------+
|OrderID|      CustomerName|Amount|
+-------+------------------+------+
|   2824|     Donald Walker|783.04|
|   7912|      Brandon Hall| 905.0|
|   4611|      Donald Booth|657.96|
|   3547|    Phillip Garcia|606.89|
|   8527|      Valerie Gray| 77.87|
|   4150|       Amber Perez|352.37|
|   5554|        Roy Martin|148.33|
|   2169|    Carolyn Daniel| 14.09|
|   6313|       Patty Perez| 79.83|
|   6155|Jonathan Wilkerson|882.68|
|   9830|       Kevin Hurst|870.55|
|   9085| Anthony Rodriguez|921.73|
|   2040|     Kyle Mcdonald|327.52|
|   6573|    Jeffrey Chavez|676.02|
|   2743|  Elizabeth Fowler| 47.06|
|   9837|     Tammy Sellers| 46.15|
|   6038|     David Bradley|348.51|
|   3060|       John Pierce|362.09|
|   4295|   Jennifer Powers|684.26|
|   5061|    George Chapman|251.89|
+-------+------------------+------+
only showing top 20 rows

+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   9834|    Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|
|   3296|     Donald Wright|        Fashion|579.99|2025-05-20|     Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|
|   4502|  Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1931|      Angela Lopez|    Electronics|686.21|2024-09-07|     Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|
|   5033|     Amanda Miller|           Toys|552.76|2024-10-25|       Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|
|   6147|      James Powers|           Toys|561.91|2024-01-22|     Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|
|   2127|      Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|
|   5905|   Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   2512|   Sandra Williams|           Toys|630.21|2024-02-17|       Pending|    0.08|        Lake Tina|        UPI|   2021-02-08|
|   8239|     Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

+-------+-------------+---------------+------+----------+--------------+--------+------------+-----------+-------------+
|OrderID| CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|        City|PaymentMode|CustomerSince|
+-------+-------------+---------------+------+----------+--------------+--------+------------+-----------+-------------+
|   2824|Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|Lake Joyside|Credit Card|   2020-10-15|
+-------+-------------+---------------+------+----------+--------------+--------+------------+-----------+-------------+

In [28]:
# Data Manipulation
from pyspark.sql.functions import when
# Drop CustomerSince column.
df_drop = df.drop("CustomerSince")
# Add a new column FinalAmount = Amount - (Amount * Discount) .
df = df.withColumn("FinalAmount",df["Amount"] - (df["Amount"]*df["Discount"]))
df.show()
# Sort by FinalAmount descending.
df_sort = df.orderBy(df["FinalAmount"].desc())
df_sort.show()
# Replace all “Cancelled” status with “Order Cancelled”.
df = df.withColumn("DeliveryStatus",when(df["DeliveryStatus"] == "Cancelled","Order Cancelled").otherwise("DeliveryStatus"))
df.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+
only showing top 20 rows

+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|      FinalAmount|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
|   5573|   Jordan Frazier|          Books|981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|   2021-07-12|          961.429|
|   8474|      Heidi Brown|    Electronics|968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|   2023-03-19|         949.5318|
|   8889|      Karen Garza|          Books| 998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|   2020-12-17|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|         923.9868|
|   9806|    Samantha Gill|      Groceries|993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|   2020-10-01|         923.6481|
|   5593|   Kristy Johnson|        Fashion|961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|   2022-11-30|         913.2825|
|   2120| Alejandra Santos|    Electronics|948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|   2022-03-03|         910.8864|
|   5949|Dr. Michael Evans|           Toys|918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|   2022-05-24|908.9585999999999|
|   1422|    Hunter Kramer|          Books| 973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|   2020-08-22|          905.076|
|   2904|   Michelle Burns|        Fashion|922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|   2020-12-23|         903.8442|
|   7566|    Jesus Houston|        Fashion|899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|   2020-11-24|           899.31|
|   7511|      Regina Diaz|           Toys|932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|   2020-12-10|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|894.0781000000001|
|   1436|     James Brooks|      Groceries|978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|   2020-11-02|         890.8536|
|   6008|  Brittany Knight|          Books|903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|   2020-06-09|         885.6358|
|   9834|   Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|878.4314999999999|
|   8253|  Kevin Patterson|          Books|998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|   2021-04-20|         878.4248|
|   7912|     Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|           877.85|
|   1654|   Frank Williams|          Books|903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|   2022-10-04|         876.6666|
|   9239|    Tracy Montoya|    Electronics|897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|   2023-02-23|         861.5136|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26| DeliveryStatus|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12| DeliveryStatus|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24| DeliveryStatus|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04| DeliveryStatus|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|Order Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07| DeliveryStatus|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|Order Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08| DeliveryStatus|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15| DeliveryStatus|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18| DeliveryStatus|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|Order Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03| DeliveryStatus|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25| DeliveryStatus|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28| DeliveryStatus|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
only showing top 20 rows

In [29]:
# Aggregations and GroupBy
from pyspark.sql.functions import avg, sum
# Count of orders by DeliveryStatus .
count_orders = df.groupBy("DeliveryStatus").count()
count_orders.show()
# Average Amount by ProductCategory .
avg_amt = df.groupBy("ProductCategory").agg(avg("Amount").alias("Average Amount"))
avg_amt.show()
# Group by City and show total sales.
sum_sales = df.groupBy("City").agg(sum("Amount").alias("Total Sales"))
sum_sales.show()

+---------------+-----+
| DeliveryStatus|count|
+---------------+-----+
| DeliveryStatus|  351|
|Order Cancelled|  149|
+---------------+-----+

+---------------+------------------+
|ProductCategory|    Average Amount|
+---------------+------------------+
|        Fashion| 500.6308235294116|
|      Groceries|459.51786407766957|
|    Electronics|           551.745|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

+----------------+-----------+
|            City|Total Sales|
+----------------+-----------+
|     Ramseymouth|     761.06|
|East Edwardshire|     291.26|
|      Thomasberg|     882.68|
|     Laurenville|     383.26|
| South Colinstad|     786.27|
|    Lake Douglas|     975.09|
|   Williamsmouth|      10.78|
|      Gordonport|     514.99|
|  West Dawnmouth|       12.8|
|        Seanbury|     814.39|
|     Sheilaville|     981.05|
|       Mollybury|     222.02|
|       Lisaville|      45.69|
| Lake Jerrymouth|     404.01|
|       Perezfort|     917.55|
|Port Nicoleshire|     133.78|
|  South Samantha|     229.46|
|     Port Willie|     788.13|
|     Waltersfort|     552.81|
|       Youngbury|     372.95|
+----------------+-----------+
only showing top 20 rows

In [30]:
# Null Handling & Update
from pyspark.sql.functions import when
# Intentionally inject nulls in City column and handle them using fillna() ,dropna() .
df_null = df.withColumn("City",when(df["Amount"] < 200 , None).otherwise(df["City"]))

df_fillna = df_null.fillna({"City":"Unknown"})
df_fillna.show()

df_dropna = df_null.dropna(subset = ["City"])
df_dropna.show()

+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26| DeliveryStatus|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12| DeliveryStatus|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24| DeliveryStatus|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04| DeliveryStatus|    0.17|          Unknown|       Cash|   2022-11-15| 64.63210000000001|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|Order Cancelled|    0.27|          Unknown|       Cash|   2023-04-29|          108.2809|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07| DeliveryStatus|    0.25|          Unknown|Credit Card|   2021-05-09|10.567499999999999|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|Order Cancelled|    0.12|          Unknown|Credit Card|   2021-04-25|           70.2504|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08| DeliveryStatus|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15| DeliveryStatus|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18| DeliveryStatus|    0.13|          Unknown|       Cash|   2021-02-07|           40.9422|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|Order Cancelled|    0.05|          Unknown|        UPI|   2021-12-17|           43.8425|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03| DeliveryStatus|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25| DeliveryStatus|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28| DeliveryStatus|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26| DeliveryStatus|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12| DeliveryStatus|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24| DeliveryStatus|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08| DeliveryStatus|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15| DeliveryStatus|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03| DeliveryStatus|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|
|   3060|       John Pierce|           Toys|362.09|2023-12-25| DeliveryStatus|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28| DeliveryStatus|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|
|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|Order Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|           572.715|
|   9834|    Timothy Duncan|    Electronics|944.55|2024-06-04|Order Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24| 878.4314999999999|
|   4119|     Matthew Gomez|          Books|326.67|2024-04-17| DeliveryStatus|    0.09|       Shieldston|       Cash|   2023-04-14|          297.2697|
|   2612|  Nicholas Mcbride|        Fashion|219.05|2023-08-26| DeliveryStatus|    0.27|       East James|        UPI|   2022-04-29|          159.9065|
|   3296|     Donald Wright|        Fashion|579.99|2025-05-20|Order Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|          434.9925|
|   4502|  Stephanie Martin|    Electronics|656.32|2023-06-04| DeliveryStatus|     0.2|       Bakermouth|Credit Card|   2021-08-19|           525.056|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+
only showing top 20 rows

In [31]:
# Use .when().otherwise() in PySpark to tag high-value customers ( Amount >800 ).
from pyspark.sql.functions import when
df = df.withColumn("CustomerType",when(df["Amount"] > 800,"High Value").otherwise(df["Amount"]))
df.show()

+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|CustomerType|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26| DeliveryStatus|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|      783.04|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|  High Value|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12| DeliveryStatus|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|      657.96|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24| DeliveryStatus|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|      606.89|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04| DeliveryStatus|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|       77.87|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|      352.37|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|Order Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|      148.33|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07| DeliveryStatus|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|       14.09|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|Order Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|       79.83|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|  High Value|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08| DeliveryStatus|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|  High Value|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|  High Value|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15| DeliveryStatus|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|      327.52|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|      676.02|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18| DeliveryStatus|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|       47.06|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|Order Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|       46.15|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03| DeliveryStatus|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|      348.51|
|   3060|       John Pierce|           Toys|362.09|2023-12-25| DeliveryStatus|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|      362.09|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|      684.26|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28| DeliveryStatus|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|      251.89|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+------------+
only showing top 20 rows

In [32]:
# Date & Time Functions
from pyspark.sql.functions import year, month, current_date, datediff, round
# Extract year and month from OrderDate .
df = df.withColumn("OrderDate", df["OrderDate"].cast("date"))
df = df.withColumn("CustomerSince", df["CustomerSince"].cast("date"))

df = df.withColumn("OrderYear", year(df["OrderDate"]))
df = df.withColumn("OrderMonth", month(df["OrderDate"]))
# Calculate customer loyalty in years = today - CustomerSince
df = df.withColumn("LoyaltyDays", datediff(current_date(), df["CustomerSince"]))
df = df.withColumn("LoyaltyYears", round(df["LoyaltyDays"] / 365, 2))

df.show()

+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+------------+---------+----------+-----------+------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|CustomerType|OrderYear|OrderMonth|LoyaltyDays|LoyaltyYears|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+------------+---------+----------+-----------+------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26| DeliveryStatus|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|      783.04|     2024|        12|       1692|        4.64|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|  High Value|     2024|         9|       1176|        3.22|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12| DeliveryStatus|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|      657.96|     2025|         1|       1396|        3.82|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24| DeliveryStatus|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|      606.89|     2024|         3|       1760|        4.82|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04| DeliveryStatus|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|       77.87|     2024|         8|        931|        2.55|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|      352.37|     2024|         1|       1237|        3.39|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|Order Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|      148.33|     2024|         3|        766|         2.1|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07| DeliveryStatus|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|       14.09|     2023|        10|       1486|        4.07|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|Order Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|       79.83|     2023|         6|       1500|        4.11|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|  High Value|     2024|        10|       1444|        3.96|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08| DeliveryStatus|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|  High Value|     2024|         4|       1036|        2.84|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|  High Value|     2024|        10|        901|        2.47|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15| DeliveryStatus|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|      327.52|     2023|        12|       1413|        3.87|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|      676.02|     2024|        12|       1039|        2.85|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18| DeliveryStatus|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|       47.06|     2024|         9|       1577|        4.32|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|Order Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|       46.15|     2024|         9|       1264|        3.46|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03| DeliveryStatus|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|      348.51|     2023|         8|       1000|        2.74|
|   3060|       John Pierce|           Toys|362.09|2023-12-25| DeliveryStatus|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|      362.09|     2023|        12|        756|        2.07|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|      684.26|     2024|         3|       1640|        4.49|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28| DeliveryStatus|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|      251.89|     2023|        11|        847|        2.32|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+------------+---------+----------+-----------+------------+
only showing top 20 rows

In [33]:
# Joins and Unions
from pyspark.sql.functions import year
# Create a second DataFrame with city-wise region mapping.
city_region = [["Lake Joyside","East"],["New Jamesside","West"],["West Melanieview","Midwest"],["Mariastad","South"],["Port Jesseville","West"],["Tracyville","East"]]
data = ["City","Region"]
city_region_df = spark.createDataFrame(city_region,data)
city_region_df.show()
# Perform inner and left joins with the main dataset.
inner_join_df = df.join(city_region_df, on="City", how="inner")
inner_join_df.select("OrderID", "CustomerName", "City", "Region").show()

left_join_df = df.join(city_region_df, on="City", how="left")
left_join_df.select("OrderID", "CustomerName", "City", "Region").show()
# Union two datasets: e.g., orders from 2023 and 2024.
df = df.withColumn("OrderDate", df["OrderDate"].cast("date"))

orders_2023 = df.filter(year("OrderDate") == 2023)
orders_2024 = df.filter(year("OrderDate") == 2024)

orders_2023 = orders_2023.select(df.columns)
orders_2024 = orders_2024.select(df.columns)

combined_orders = orders_2023.union(orders_2024)
combined_orders.select("OrderID", "OrderDate").show()

+----------------+-------+
|            City| Region|
+----------------+-------+
|    Lake Joyside|   East|
|   New Jamesside|   West|
|West Melanieview|Midwest|
|       Mariastad|  South|
| Port Jesseville|   West|
|      Tracyville|   East|
+----------------+-------+

+-------+--------------+----------------+-------+
|OrderID|  CustomerName|            City| Region|
+-------+--------------+----------------+-------+
|   2824| Donald Walker|    Lake Joyside|   East|
|   7912|  Brandon Hall|   New Jamesside|   West|
|   3547|Phillip Garcia|West Melanieview|Midwest|
|   8527|  Valerie Gray|       Mariastad|  South|
|   4150|   Amber Perez| Port Jesseville|   West|
|   9837| Tammy Sellers|      Tracyville|   East|
+-------+--------------+----------------+-------+

+-------+------------------+-----------------+-------+
|OrderID|      CustomerName|             City| Region|
+-------+------------------+-----------------+-------+
|   6155|Jonathan Wilkerson|       Thomasberg|   NULL|
|   2743|  Elizabeth Fowler|   East Nathaniel|   NULL|
|   4150|       Amber Perez|  Port Jesseville|   West|
|   5061|    George Chapman|       North Chad|   NULL|
|   6038|     David Bradley|    Lake Toddland|   NULL|
|   2824|     Donald Walker|     Lake Joyside|   East|
|   3060|       John Pierce|       Brandtside|   NULL|
|   1964|      Taylor Heath|   West Elizabeth|   NULL|
|   2040|     Kyle Mcdonald|Lake Jenniferside|   NULL|
|   9085| Anthony Rodriguez|        Port Erin|   NULL|
|   6573|    Jeffrey Chavez|      Teresaburgh|   NULL|
|   4611|      Donald Booth|     Lake Roberto|   NULL|
|   9837|     Tammy Sellers|       Tracyville|   East|
|   9830|       Kevin Hurst|      Jeffreyberg|   NULL|
|   5554|        Roy Martin|      Lake Joseph|   NULL|
|   3547|    Phillip Garcia| West Melanieview|Midwest|
|   7912|      Brandon Hall|    New Jamesside|   West|
|   2169|    Carolyn Daniel|         Grayside|   NULL|
|   8527|      Valerie Gray|        Mariastad|  South|
|   6313|       Patty Perez|      Richardland|   NULL|
+-------+------------------+-----------------+-------+
only showing top 20 rows

+-------+----------+
|OrderID| OrderDate|
+-------+----------+
|   2169|2023-10-07|
|   6313|2023-06-27|
|   2040|2023-12-15|
|   6038|2023-08-03|
|   3060|2023-12-25|
|   5061|2023-11-28|
|   1964|2023-07-28|
|   2612|2023-08-26|
|   1828|2023-08-14|
|   4502|2023-06-04|
|   1958|2023-07-17|
|   5905|2023-12-25|
|   8239|2023-07-31|
|   9379|2023-07-07|
|   3851|2023-06-03|
|   1757|2023-07-29|
|   9486|2023-09-05|
|   3607|2023-12-12|
|   4919|2023-12-31|
|   3267|2023-11-16|
+-------+----------+
only showing top 20 rows

In [35]:
# Complex JSON Simulation (Advanced)
# Convert each order to a JSON string and load it back into a DataFrame.
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType, DateType
from pyspark.sql.functions import to_json, struct,from_json,get_json_object,explode, array, lit,col
df_json = df.withColumn("json_str", to_json(struct([col(c) for c in df.columns])))
df_json.select("json_str").show(2, truncate=False)

schema = df.schema
parsed_df = df_json.withColumn("parsed", from_json(col("json_str"), schema))
parsed_df.select("parsed.*").show(2)

# Access nested fields using explode() and get_json_object() .
parsed_df.select(
    get_json_object(col("json_str"), "$.CustomerName").alias("CustomerName"),
    get_json_object(col("json_str"), "$.City").alias("City"),
).show(5)

orders_with_array = df.withColumn("Products", array(lit("Phone"), lit("Laptop"), lit("Tablet")))

exploded = orders_with_array.select("OrderID", "CustomerName", explode(col("Products")).alias("Product"))
exploded.show(5)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|json_str                                                                                                                                                                                                                                                                                                                                                                  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"OrderID":2824,"CustomerName":"Donald Walker","ProductCategory":"Books","Amount":783.04,"OrderDate":"2024-12-26","DeliveryStatus":"DeliveryStatus","Discount":0.15,"City":"Lake Joyside","PaymentMode":"Credit Card","CustomerSince":"2020-10-15","FinalAmount":665.584,"CustomerType":"783.04","OrderYear":2024,"OrderMonth":12,"LoyaltyDays":1692,"LoyaltyYears":4.64} |
|{"OrderID":7912,"CustomerName":"Brandon Hall","ProductCategory":"Groceries","Amount":905.0,"OrderDate":"2024-09-12","DeliveryStatus":"Order Cancelled","Discount":0.03,"City":"New Jamesside","PaymentMode":"Wallet","CustomerSince":"2022-03-15","FinalAmount":877.85,"CustomerType":"High Value","OrderYear":2024,"OrderMonth":9,"LoyaltyDays":1176,"LoyaltyYears":3.22}|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 2 rows

+-------+-------------+---------------+------+----------+---------------+--------+-------------+-----------+-------------+-----------+------------+---------+----------+-----------+------------+
|OrderID| CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|         City|PaymentMode|CustomerSince|FinalAmount|CustomerType|OrderYear|OrderMonth|LoyaltyDays|LoyaltyYears|
+-------+-------------+---------------+------+----------+---------------+--------+-------------+-----------+-------------+-----------+------------+---------+----------+-----------+------------+
|   2824|Donald Walker|          Books|783.04|2024-12-26| DeliveryStatus|    0.15| Lake Joyside|Credit Card|   2020-10-15|    665.584|      783.04|     2024|        12|       1692|        4.64|
|   7912| Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|New Jamesside|     Wallet|   2022-03-15|     877.85|  High Value|     2024|         9|       1176|        3.22|
+-------+-------------+---------------+------+----------+---------------+--------+-------------+-----------+-------------+-----------+------------+---------+----------+-----------+------------+
only showing top 2 rows

+--------------+----------------+
|  CustomerName|            City|
+--------------+----------------+
| Donald Walker|    Lake Joyside|
|  Brandon Hall|   New Jamesside|
|  Donald Booth|    Lake Roberto|
|Phillip Garcia|West Melanieview|
|  Valerie Gray|       Mariastad|
+--------------+----------------+
only showing top 5 rows

+-------+-------------+-------+
|OrderID| CustomerName|Product|
+-------+-------------+-------+
|   2824|Donald Walker|  Phone|
|   2824|Donald Walker| Laptop|
|   2824|Donald Walker| Tablet|
|   7912| Brandon Hall|  Phone|
|   7912| Brandon Hall| Laptop|
+-------+-------------+-------+
only showing top 5 rows

In [37]:
# Applying Functions
# Create a function to tag orders: “Big”, “Medium”, “Small” based on Amount.
# Apply it using .apply() in Pandas, and UDF in PySpark.

def tag_order(amount):
    if amount > 800:
        return "Big"
    elif amount > 500:
        return "Medium"
    else:
        return "Small"

df_pandas["OrderTag"] = df_pandas["Amount"].apply(tag_order)
print(df_pandas[["OrderID", "Amount", "OrderTag"]])

     OrderID  Amount OrderTag
0       2824  783.04   Medium
1       7912  905.00      Big
2       4611  657.96   Medium
3       3547  606.89   Medium
4       8527   77.87    Small
..       ...     ...      ...
495     2930  680.00   Medium
496     7980  285.32    Small
497     7770  792.11   Medium
498     6641  578.49   Medium
499     4513  904.97      Big

[500 rows x 3 columns]

In [38]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

def tag_order(amount):
    if amount > 800:
        return "Big"
    elif amount > 500:
        return "Medium"
    else:
        return "Small"

tag_order_udf = udf(tag_order, StringType())

df_tagged = df.withColumn("OrderTag", tag_order_udf(col("Amount")))
df_tagged.select("OrderID", "Amount", "OrderTag").show()

+-------+------+--------+
|OrderID|Amount|OrderTag|
+-------+------+--------+
|   2824|783.04|  Medium|
|   7912| 905.0|     Big|
|   4611|657.96|  Medium|
|   3547|606.89|  Medium|
|   8527| 77.87|   Small|
|   4150|352.37|   Small|
|   5554|148.33|   Small|
|   2169| 14.09|   Small|
|   6313| 79.83|   Small|
|   6155|882.68|     Big|
|   9830|870.55|     Big|
|   9085|921.73|     Big|
|   2040|327.52|   Small|
|   6573|676.02|  Medium|
|   2743| 47.06|   Small|
|   9837| 46.15|   Small|
|   6038|348.51|   Small|
|   3060|362.09|   Small|
|   4295|684.26|  Medium|
|   5061|251.89|   Small|
+-------+------+--------+
only showing top 20 rows